# Python
venv/
__pycache__/
*.pyc
.env
mlruns/
models/*.pkl
data/raw/*.csv
node_modules/
.DS_Store

mlflow.db
classification_report_*.txt
confusion_matrix_*.png
roc_curve_*.png
models/

# Node / Frontend
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?